# DWM1001C exposes the nRF52832 SWD pins on module pins 2 (SWD_CLK) and 3
# (SWD_DIO). This ST-LINK V2 uses the direct OpenOCD SWD driver.
source [find interface/stlink.cfg]
transport select swd
source [find target/nordic/nrf52.cfg]
adapter speed 400
